html
    head
        title='sample app'
        link(rel='stylesheet',href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    body
        div.container
            div.jumbotron
                h1 Hello
                p 
                    a.btn.btn-primary(href="http://www.archway.co.jp") Click
                p
